@use '/sass/abstracts/variables' as v;

.activities {
    padding-bottom: 80px;

    &__header {
        background-image: v.$gradient-pink-orange;
        padding: 25px 30px;
        color: v.$white;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    &__item {
        margin-bottom: 40px;
        padding: 56px 28px 40px;
        position: relative;
        background-color: v.$white;
        box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
        border-radius: 16px;

        &:last-child {
            margin-bottom: 0;
        }
        
        &_icon {
            width: 56px;
            height: 56px;
            background-image: v.$gradient-pink-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -25px;
        }
        
        &_title {
            color: v.$black;
            font-size: 20px;
            margin-bottom: 16px;
        }
        
        &_description {
            font-size: 16px;
            line-height: 26px;
            color: v.$grey;
            margin-bottom: 24px;
        }
    }
}