@use '/sass/abstracts/variables' as v;
@use '/sass/abstracts/mixins' as mx;

.hero {
    margin-bottom: 65px;

    &__title {
        margin-bottom: 26px;
        font-size:40px;
        font-weight: 800;
        color: v.$black;
    }

    &__description {
        margin-bottom: 26px;
        color: v.$grey;
        font-size: 16px;
        line-height: 26px;
    }

    &__buttons {
        margin-bottom: 80px;
    }

    &__img {
        text-align: center;
        width: 90%;
        margin-left: 5%;
        position: relative;
        // Responsive tablet
        @include mx.breakpoint(tablet) {
            width: 50%;
            margin: 0;
        }

        img {
            max-width: 80%;
        }

        // Responsive tablet
        &_mobile {
            @include mx.breakpoint(tablet) {
                display: none;
            }
        }
    }

    &__number {
        display: inline-block;
        width: max-content;
        background-color: v.$white;
        color: v.$black;
        padding: 5px;
        text-align: left;
        position: absolute;
        border-radius: 10px;
        box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
        
        span {
            display: block;
        }

        &-title {
            font-size: 14px;
            color: v.$grey;
            font-weight: 700;            
        }

        &-number {
            font-size: 32px;
            color: v.$black;
            font-weight: 800;
        }
        
        &-1 {
            padding: 16px 20px;
            top: 0;
            right: 0;
            position: absolute;
            @include mx.breakpoint(tablet) {
                top: -33px;
            }
        }

        &-2 {
            padding: 16px 35px 16px 20px;
            bottom: 0;
            left: 0;
            position: absolute;
            @include mx.breakpoint(tablet) {
                left: 85px;
                bottom: -10px;
            }
        }

    }

    .container {
        @include mx.breakpoint(tablet) {
            display: flex;
        }
    }

    &__content {
        @include mx.breakpoint(tablet) {
            width: 50%;
        }
    }
}